*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}
html{
    --main-bg-color: #173B21;
    --secondary-bg-color: #092517;
    --main-text-color: #C1BDC0;
    --link-hover-color: #8E6A4A;
    --link-color: #C33325;
    overflow: hidden scroll;
}
body{
    overflow: hidden scroll;
    font-family: 'Open Sans', sans-serif;
    color: var(--main-text-color);
    background-image: 
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),
        url('./img/serene.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center, center;
}
.hero{
    height: 1100px;
    width: 100%;
}
.title, .tagline, .arrow{
    position: absolute;
    width: 100%;
    text-align: center;
}
.title{
    top: 50%;
    z-index: -1;
}
.tagline{
    top: 55%;
    z-index: -1;
}
.arrow{
    font-size: 3em;
    top: 93%; 
}
.fa-angle-down{
    cursor: pointer;
}
a{
    color: var(--link-color);
    text-decoration: none;
}
a:hover{
    color: var(--link-hover-color);
}
h1, h2{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 1.5em;
}
main{
    width: 100%;
    margin: 0 auto;
}
section{
    width: 100%;
    padding: 20px 0;
}
.center-content{
    width:60%;
    height: auto;
    margin: auto;
}
.section-title{
    text-align: center;
    width: 100%;
}
.about{
    height: auto;
}
.projects{
    height: auto;
    width: 75%;
}
.skillset{
    height: auto;
}
.primary-bg{
    background-color: var(--main-bg-color);
}
.secondary-bg{
    background-color: var(--secondary-bg-color);
}
.navbar{
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.hamburger-menu{
    display: none;
}
.nav-item-list{
    display: flex;
}
.nav-item{
    display: flex;
    justify-content: center;
}
.nav-link{
    align-self: center;
}
.logo{
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
}
.about-pic{
    width: 300px;
    float: left;
    margin: 10px;
    border-radius: 18px;
}
p{
    padding: 10px 0;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style: none;
    margin: 15px;
    border: 1px solid var(--secondary-bg-color);
    padding: 10px;
    width: 100px;
}
.skills{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.icon{
    height: 60px;
    width: 80px;
    border-radius: 2px;
}
.projects{
    display: flex;
    flex-direction: column;
}
.project-item{
    display: flex;
    margin: 10px auto;
    width: 80%;
    justify-content: space-evenly;
}
.project-tile{
    width: 300px;
    float: left;
    border-radius: 18px;
}
.project-pic{
    height: 100%;
    width: 100%;
    border-radius: 18px;
}
.project-description{
    margin: auto 5%;
    height: auto;
    width: 40%;
}
.description{
    width: 100%;
}
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.credit-item{
    margin: 10px;
}
.contact-info-list{
    display: flex;
    flex-basis: 20%;
}
.contact-info{
    margin: 35px;
    font-size: 2em;
}

/* for varying widths */
@media all and (max-width:1024px) {
    .projects, .project-item{
        display: flex;
        flex-direction: column;
        margin:10px auto;
        padding: 15px 0;
        align-items: center;
    }
    .project-description{
        text-align: center;
        width: 80%;
    }
    .logo{
        width: 100%;
        text-align: center;
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
        height: 80px;
        justify-content: normal;
    }
    .hamburger-menu{
        display: block;
        cursor: pointer;
        margin: 15px auto;
        font-size: 1.5em;
    }
    .nav-item-list{
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
@media all and (max-width:768px) {
    .about-me{
        display: flex;
        flex-direction: column;
        max-height: 400px;
        overflow-y: scroll;
    }
    .skills{
        max-height: 400px;
        overflow-y: scroll;
    }
    .projects, .project-item{
        display: flex;
        flex-direction: column;
        margin:0 auto;
    }
    .about-pic{
        float: none;
        margin: 1% auto;
        text-align: center;
    }
    footer{
        flex-direction: column;
    }
    .credits{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .contact-info-list{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .contact-info{
        margin: 0 10px;
        padding: 0 0;
    }
}
@media all and (max-width:580px) {
    .about-pic{
        width: 200px;
        height: auto;
        margin: 1% auto;
    }
    .project-tile{
        width: 200px;
        margin: 10px auto;
    }
    .project-description{
        width: 100%;
    }
    
}
@media all and (max-width:320px) {
    .hero{
        height: 500px;
    }
}

/* for varying heights, mostly just to 
move the arrow on the hero up and down */
@media all and (max-height:768px) {
    .arrow{
        top: 89%;
    }
    .title{
        top: 30%;
    }
    .tagline{
        top: 40%;
    }
    .hero{
        height: 500px;
    }
}
@media all and (max-height:480px) {
    .hero{
        height: 480px;
    }
    .arrow{
        top: 87%;
    }
    .title{
        top: 25%;
    }
    .tagline{
        top: 35%;
    }
}